.climb-system-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #18233b;
}
.climb-system-container1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.climb-system-hero {
  height: 100%;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.climb-system-text {
  letter-spacing: 1em;
  text-transform: uppercase;
}
.climb-system-hero1 {
  width: 50%;
  height: 50%;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 50%;
  align-self: center;
  max-height: auto;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.climb-system-image {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  max-width: 50%;
  align-self: stretch;
  max-height: 50%;
  object-fit: cover;
  background-size: cover;
  background-image: url("public/playground_assets/stratscreen_nopress-200h.png");
}
.climb-system-image1 {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  max-width: 50%;
  align-self: stretch;
  max-height: 50%;
  object-fit: cover;
}
.climb-system-hero2 {
  width: 35%;
  height: auto;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.climb-system-text01 {
  text-align: left;
}
.climb-system-text03 {
  font-weight: 700;
}
.climb-system-text05 {
  font-weight: 700;
}
.climb-system-text07 {
  font-weight: 700;
}
.climb-system-text09 {
  font-weight: 700;
}
.climb-system-text11 {
  font-weight: 700;
}
.climb-system-text13 {
  font-weight: 700;
}
.climb-system-hero3 {
  width: 50%;
  height: 50%;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 50%;
  align-self: center;
  max-height: auto;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.climb-system-image2 {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  max-width: 50%;
  align-self: stretch;
  max-height: 50%;
  object-fit: cover;
  background-size: cover;
  background-image: url("public/playground_assets/stratscreen_nopress-200h.png");
}
.climb-system-image3 {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  max-width: 50%;
  align-self: stretch;
  max-height: 50%;
  object-fit: cover;
}
.climb-system-hero4 {
  display: flex;
  padding: 0px;
  max-width: auto;
  align-self: center;
  min-height: auto;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.climb-system-container2 {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
}
.climb-system-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.climb-system-navlink {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #18233b;
}
.climb-system-navlink:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .climb-system-hero {
    flex-direction: column;
  }
  .climb-system-hero1 {
    flex-direction: column;
  }
  .climb-system-hero2 {
    flex-direction: column;
  }
  .climb-system-hero3 {
    flex-direction: column;
  }
  .climb-system-hero4 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .climb-system-container2 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .climb-system-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .climb-system-hero1 {
    min-width: 40%;
    min-height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .climb-system-image {
    width: 80%;
    min-width: 40%;
  }
  .climb-system-image1 {
    width: 80%;
    min-width: 40%;
  }
  .climb-system-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .climb-system-hero3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .climb-system-image2 {
    width: 80%;
  }
  .climb-system-image3 {
    width: 80%;
  }
  .climb-system-hero4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .climb-system-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .climb-system-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .climb-system-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .climb-system-hero3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .climb-system-hero4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .climb-system-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .climb-system-btn-group {
    flex-direction: column;
  }
}
