.t-s-p-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: #18233b;
  border-style: solid;
  border-width: var(--dl-size-size-large);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-width: var(--dl-size-size-small);
}
.t-s-p-hero {
  height: 100%;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.t-s-p-text {
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
.t-s-p-hero1 {
  width: 50%;
  height: 50%;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 50%;
  align-self: center;
  max-height: auto;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.t-s-p-image {
  width: 50%;
  height: 50%;
  margin: var(--dl-space-space-unit);
  padding: 0px;
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
  background-size: cover;
  background-image: url("public/playground_assets/stratscreen_nopress-400w.png");
}
.t-s-p-image1 {
  width: 50%;
  height: 50%;
  margin: var(--dl-space-space-unit);
  padding: 0px;
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
}
.t-s-p-hero2 {
  width: 35%;
  height: auto;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.t-s-p-text01 {
  text-align: left;
}
.t-s-p-text02 {
  font-weight: 700;
}
.t-s-p-text04 {
  font-weight: 700;
}
.t-s-p-text06 {
  font-weight: 700;
}
.t-s-p-text08 {
  font-weight: 700;
}
.t-s-p-text10 {
  font-weight: 700;
}
.t-s-p-text12 {
  font-weight: 700;
}
.t-s-p-text14 {
  font-weight: 700;
}
.t-s-p-text19 {
  font-weight: 700;
}
.t-s-p-text21 {
  font-weight: 700;
}
.t-s-p-text23 {
  font-weight: 700;
}
.t-s-p-text28 {
  font-weight: 700;
}
.t-s-p-hero3 {
  width: 50%;
  height: 50%;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 50%;
  align-self: center;
  max-height: auto;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.t-s-p-image2 {
  width: 50%;
  padding: 0px;
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
  background-size: cover;
  background-image: url("public/playground_assets/stratscreen_nopress-400w.png");
}
.t-s-p-hero4 {
  display: flex;
  padding: 0px;
  max-width: auto;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.t-s-p-container1 {
  display: flex;
  margin-left: 0px;
  flex-direction: column;
}
.t-s-p-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.t-s-p-navlink {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #18233b;
}
.t-s-p-navlink:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .t-s-p-hero {
    flex-direction: column;
  }
  .t-s-p-hero1 {
    flex-direction: column;
  }
  .t-s-p-hero2 {
    flex-direction: column;
  }
  .t-s-p-hero3 {
    flex-direction: column;
  }
  .t-s-p-hero4 {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .t-s-p-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .t-s-p-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .t-s-p-hero1 {
    min-width: 40%;
    min-height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .t-s-p-image {
    width: 80%;
    min-width: 40%;
  }
  .t-s-p-image1 {
    width: 80%;
    min-width: 40%;
  }
  .t-s-p-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .t-s-p-hero3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .t-s-p-image2 {
    width: 80%;
  }
  .t-s-p-hero4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .t-s-p-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .t-s-p-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .t-s-p-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .t-s-p-hero3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .t-s-p-hero4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .t-s-p-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .t-s-p-btn-group {
    flex-direction: column;
  }
}
