.navigation-links1-nav {
  flex: 0 0 auto;
  width: 464px;
  height: 76px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navigation-links1-text {
  color: #ffffff;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 400;
}
.navigation-links1-text1 {
  color: #ffffff;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links1-text2 {
  color: #ffffff;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 400;
  margin-left: var(--dl-space-space-twounits);
}








.navigation-links1-root-class-name10 {
  width: 100%;
  height: 100%;
  align-self: stretch;
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
